<div ng-init=PC.show()>

    <a href="#/home">Return to Polls</a>
    <a href="/logout" ng-click=PC.logout()>Log Out</a>

    <br>
    <br>
    <div class="box">
    <fieldset>
    <legend><h1>{{PC.thePoll.question}}</h1></legend>
    <h3>Click on the vote button to vote</h3>
    <table>
        <thead>
            <td><h4>Option</h4></td>
            <td><h4>Current Vote Count</h4></td>
            <td><h4>Action</h4></td>
        </thead>
        <tr ng-repeat="option in PC.thePoll.options">
            <td>{{option.name}}</td>
            <td>{{option.votes}}</td>
            <td><button class="vote_btn" ng-click=PC.vote($index)>Vote</button></td>
        </tr>
    </table>
    </fieldset>
    </div>

</div>