#login{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;

}
#loginfield{
    width: 300px;
    height: auto;
}
fieldset{
    width: 1000px;
}
.nav{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    padding-right: 300px;
    text-decoration-style: none;

}
a{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    padding-right: 5px; 
}
h1{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
h3{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;    
}
input{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: 14px;
    height: 30px;
    width: 300px;
    border: solid black 1px;
    padding-left: 10px;
}
.box{
    margin-top: 20px;
}

ul{

    list-style-type: none;

}
li{
   font-family: GillSans, Calibri, Trebuchet, sans-serif;

}
table{
    border: solid black 2px;
    margin-top: 15px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    text-align: center;
    margin-bottom: 15px;
}
tr{
    border: solid black 2px;
    padding-left: 20px;
}
th{
    border: solid black 1px;
}
td{
    border: solid black 1px;
    padding: 20px;
    text-align: center;
}
.login_btn{
    background-color: #a5d6a7;
    color: white;
    width: 100px;
    height: 25px;
    border: solid black 2px;
    margin-top: 20px;

}

.delete_btn{
    background-color: #f44336;
    color: white;
    width: 100px;
    height: 25px;
    border: solid black 2px;

}
.submit_btn{
    background-color: #64b5f6;
    color: white;
    width: 200px;
    height: 40px;
    border: solid black 2px;
    margin-left: 5px;   
}
.cancel_btn{
    background-color: #ffcc80;
    color: white;
    width: 200px;
    height: 40px;
    border: solid black 2px;
    margin-left: 5px;   
}
.logout_btn{
    background-color: #bbdefb;
    color: black;
    width: 100px;
    height: 25px;
    border: solid black 2px;
    margin-left: 930px;

}
#search{
    margin-left: 410px;
}

